@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Product information management (PIM) is the process of managing and 
    enriching product information and related digital assets across 
    different teams to provide an engaging product experience and 
    successfully sell the product across multiple sales and marketing 
    channels. A PIM solution is a master-data fueled, process-driven 
    application for collaborating on product content. It serves as a single, 
    central platform to collect, manage, govern and enrich product information and 
    content and distribute it to marketing, sales, and eCommerce channels.</p>
