@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nimap Infotech<br />
    41, 4th floor A-wing, <br />
    Todi Industrial Estate,<br />
    Sun Mills Compound Rd,<br />
    Lower Parel, Mumbai, Maharashtra 400013.<br />
    <abbr title="Phone">P:</abbr>
    070214 31876
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>